@model NetsmartzOnlinePortal.Domain.Model.CategoryModel
@{
    ViewBag.Title = "Manage Category";
}

<h2>ManageCategory</h2>

@using (Html.BeginForm("ManageCategory", "User", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.CategoryName)
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PriceRange)
        @Html.TextBoxFor(x => x.MinPrice, new { @class = "form-control", @placeholder = "Min Value", @type = "number", @onkeypress = "return isNumber(event)"  })
        @Html.ValidationMessageFor(x => x.MinPrice)
        <br />
        <br />
        @Html.TextBoxFor(x => x.MaxPrice, new { @class = "form-control", @placeholder = "Max Value", @type = "number", @onkeypress = "return isNumber(event)" })
        @Html.ValidationMessageFor(x => x.MaxPrice)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Description)
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Description)

    </div>
    <br />


    if (Model != null && Model.CategoryId > 0)
    {
        @Html.HiddenFor(x => x.CategoryId)
        <input type="submit" class="btn btn-default" value="Update Category" />
        <input type="reset" value="Cancel" class="btn btn-warning" onClick="window.location.reload()" />
    }
    else
    {
        <input type="submit" class="btn btn-default" value="Add Category" />
        <input type="reset" value="Reset" class="btn btn-warning" />
    }
}
<br /><br />

<div class="white-box mt-3">
    <div class="custom-form mb-0">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="search-box-new">
                            @Html.TextBox("search", null, new { @class = "form-control", maxlength = 50, @placeholder = "Search" })
                            <i style="display:none" id="fafatimes" class="fa fa-times"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table" id="jqueryDataTable">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Price Range</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/views/ManageCategory.js"></script>

@if (ViewBag.Message != null)
{
    <script>
        @*$(function () {
            alert('@ViewBag.Message');
        });*@

        window.onload = (event) => {
            alert('@ViewBag.Message');
        };
    </script>
}

<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>